// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$has-error-state-color: darkred;
$sidebar-width: 90%;
$sidebar-max-width: 330px;