{% extends 'layouts/default.twig' %}

{% block mainView %}
    <div class="card card-block change-password">
        <h1 class="card-title">{{ translate('Change account\'s password') }}</h1>

        <div class="change-password-form-wrapper">
            {{ form.render|raw }}
        </div>
    </div>

{% endblock %}

{% block navigation %}
    {% include 'elements/login-page.twig' %}
{% endblock %}