{% extends 'layouts/default.twig' %}

{% block mainView %}
    <div class="card card-block">
        <h1 class="card-title">{{ translate('Sign up') }}</h1>
        <div class="registration-form-wrapper">
            {{ form.render|raw }}
        </div>
    </div>

{% endblock %}