{% extends 'layouts/default.twig' %}

{% block mainView %}
    <div class="card card-block sign-in">
        <h1 class="card-title">{{ translate('Sign in') }}</h1>

        <div class="login-form-wrapper">
            {{ form.render|raw }}
        </div>
        <a href="{{ url("recover") }}" class="recover-lnk">{{ translate("Did you forgot your password?") }}</a>
    </div>

{% endblock %}

{% block navigation %}
    {% include 'elements/login-page.twig' %}
{% endblock %}