<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Starter Template for Slick Framework web site</title>

    <!-- Bootstrap core CSS -->
    {{ addCss('styles.css')|raw }}

</head>

<body>
<header>
    {% include 'elements/navigation.twig' %}
</header>

<main class="container">
    {% include 'flash/messages.twig' %}
    {% block mainView %}

    {% endblock %}
</main>

<footer>
</footer>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{{ addJs('jquery.min.js', '/js/vendor/jquery')|raw }}
{{ addJs('tether.min.js', '/js/vendor/tether')|raw }}
{{ addJs('bootstrap.min.js', '/js/vendor/bootstrap')|raw }}
</body>
</html>