{% extends 'elements/navigation.twig' %}


{% block navbar_actions_menu %}
    {% if authentication.isGuest() %}
        <div class="pull-right ">
            <span>{{ translate('Do not have an account?') }}</span>
            <a href="{{ url('sign-up') }}" class="btn btn-primary">{{ translate('Sign up') }}</a>
        </div>
    {% endif %}
{% endblock %}